@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
body{
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    background-color: var(--background-color);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--advice-card-color);
    border-radius: 10px;
    width: 430px;
}
.card .titulo{
    color: var(--advice-dice-color);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 17px;
    margin-top: 25px;
}
.card .descricao{
    color: var(--text-color);
    font-size: 25px;
    text-align: center;
    padding: 18px;
}
.card .image-divisoria{
    width: 380px;
}
.card .botao{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: var(--advice-dice-color);
    transform: translateY(50%);
}
.card .botao:hover{
    cursor: pointer;
    box-shadow: 0 6px 15px; 
    color: var(--advice-dice-color);
}
